#app {
    max-width: 850px;
    margin: 0 auto;
}

nav {
    padding: 20px 0 20px 0;
}

.jumbotron {
    padding: 10px 10px;
    margin-bottom: 10px 10px;
    background-color: rgb(2, 232, 248);
    border-radius: .3rem;
  }


.logo {
    height: 250px;
}